<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace ="~{fragments/head :: head}"></head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<!--/*@thymesVar id="families" type="java.util.List<ru.den.shopping.model.Family>"*/-->
<div th:if="${families.isEmpty()}">
    <p>Списки пока не созданы!</p>
    <hr/>
</div>

<table class="table-small">
    <tr>
        <th>Наименование </th>
        <th>Изменить</th>
        <th>Удалить </th>
    </tr>
    <!--/*@thymesVar id="family" type="ru.den.shopping.model.Family"*/-->
    <tr th:each="family : ${families} ">
        <td th:text="${family.getName()}">Onions</td>
        <td> <a th:href="@{/family/{id}/edit(id=${family.getId()})}" class="no-underline-style"> &#9998; </a> </td>
        <td> <a th:href="@{/family/{id}/delete(id=${family.getId()}) }" class="no-underline-style"> &#10006; </a> </td>
    </tr>
</table>

<hr/>
<br/>

<div th:if="${families.size()>1}">
    <a th:href="@{/family}">Выбрать список покупок</a>
</div>
<div th:if="${families.size()==1}">
    <a th:href="@{/family/new}">Добавить список покупок</a>
    <br/>
    <a th:href="@{/family}">Перейти к покупкам</a>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>