<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Покупки</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<!--/*@thymesVar id="families" type="java.util.List"*/-->
<div th:if="${families.isEmpty()}">
    <p>Списки пока не созданы!</p>
    <hr/>
</div>

<table class="table-small">
    <tr>
        <th>Наименование </th>
        <th>Изменить</th>
        <th>Удалить </th>
    </tr>
    <!--/*@thymesVar id="family" type="ru.den.shopping.model.Family"*/-->
    <tr th:each="family : ${families} ">
        <td th:text="${family.getName()}">Onions</td>
        <td> <a th:href="@{/family/{id}/edit(id=${family.getId()})}" class="no-underline-style"> &#9998; </a> </td>
        <td> <a th:href="@{/family/{id}/delete(id=${family.getId()}) }" class="no-underline-style"> &#10006; </a> </td>
    </tr>
</table>

<hr/>
<br/>

<div>
    <a th:href="@{/family}">Выбрать семью (список)</a>
</div>

</body>
</html>