<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head>
    <title>Login page</title>
    &lt;!&ndash;<head th:replace ="~{fragments/head :: head}"></head>&ndash;&gt;
    <head th:replace="fragments/head :: head"></head>
</head>-->
<head th:replace ="~{fragments/head :: head}"></head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<sec:authorize access="isAuthenticated()">
    <!--<% response.sendRedirect("/"); %>-->

</sec:authorize>

<a href="/profile/registration">Зарегистрироваться</a>

<!--<form name="f" method="post" action="/process_login">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <label for="username">Введите имя пользователя:</label>
  <input type="text" name="username" id="username"/>
  <br/>
  <label for="password">Введите пароль:</label>
  <input type="password" name="password" id="password"/>
  <br/>
  <input type="submit" value="Login"/>

  <div th:if="${param.error}" style="color: red">
    Неправильное имя и пароль
  </div>
</form>-->

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>