<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace ="~{fragments/head :: head}"></head>
<body>

<!--/*@thymesVar id="buy" type="ru.den.shopping.dto.ShoppingDTO"*/-->
<!--/*@thymesVar id="familyId" type="java.lang.Integer"*/-->
<form th:method="POST" th:action="@{/shopping(familyId=${familyId})}" th:object="${buy}">
  <label for="name">Введите название товара:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <!--/*@thymesVar id="#fields" type="org.thymeleaf.spring6.expression.Fields"*/-->
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error</div>
  <br/>

  <label for="howMany">Введите количество:</label>
  <input type="text" th:field="*{howMany}" id="howMany"/>
  <div style="color:red" th:if="${#fields.hasErrors('howMany')}" th:errors="*{howMany}">date error</div>
  <br/>

  <label for="store">Введите магазин:</label>
  <input type="text" th:field="*{store}" id="store"/>
  <div style="color:red" th:if="${#fields.hasErrors('store')}" th:errors="*{store}">store error</div>
  <br/>

  <input type="submit" value="Создать!"/>
  <input  type="submit" value="<-Назад" onclick="window.history.back(); return false;"/>
</form>

</body>
</html>