<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head th:replace ="~{fragments/head :: head}"></head>
<body>
<div>
    <!--/*@thymesVar id="shopping" type="java.util.List<ru.den.shopping.model.Shopping>"*/-->
</div>
<!--/*@thymesVar id="buy" type="ru.den.shopping.model.Shopping"*/-->
<!--/*@thymesVar id="shopping" type="ru.den.shopping.model.Shopping"*/-->
<div th:each="buy: ${shopping}">
    <a th:href="@{/shopping/{id}(id=${buy.getId()})}"
       th:text="${buy.getName() +', '+ buy.getData()+', '+ buy.getHowMany()+', '+ buy.getStore()}">user</a>
</div>

<br/>

<a  th:href="/shopping/new">Добавить покупку</a>

<br/>
<hr/>
<a  th:href="/shopping">Список покупок</a>


</body>
</html>